@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --clr-white: #fafafa;
  --clr-black: #000;
  --clr-dark-grey: #444;
  --clr-grey: #888;
  --clr-light-grey: #ccc;
  --clr-primary: #7209b7;
  --clr-secondary: #4361ee;

  --clr-bg: var(--clr-white);
}

/* -------------------GENERAL STYLING */

* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid #f00 !important; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--clr-bg);
}

p {
  color: var(--clr-black);
  font-weight: 500;
}

header {
  width: 100%;
}

/* -----------------LINKS & BUTTONS */

a,
.btn {
  transition: all 300ms ease;
}

a {
  color: var(--clr-black);
  text-decoration: none;
  text-decoration-color: var(--clr-white);
}

a:hover {
  color: var(--clr-grey);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: rgba(200, 100, 200, 0.8);
  text-decoration-thickness: 0.3rem;
}

.btn {
  font-weight: 600;
  font-size: 0.75rem;
  transition: all 300ms ease;
  line-height: 1.5;
  padding: 0.5rem;
  width: 6rem;
  border-radius: 2rem;
  position: relative;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
}

.btn-primary,
.btn-secondary {
  border: 0.1rem solid var(--clr-dark-grey);
  color: var(--clr-white);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}

.btn-primary:after,
.btn-secondary:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 8px;
  width: calc(100% - 16px);
  height: 40%;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  border-radius: 2rem;
}

.btn-primary {
  background: linear-gradient(
    350deg,
    var(--clr-primary) 0%,
    var(--clr-secondary) 90%
  );
}

.btn-secondary {
  background: linear-gradient(
    200deg,
    var(--clr-primary) 0%,
    var(--clr-secondary) 90%
  );
}

.btn-primary:hover,
.btn-primary:focus,
.btn-secondary:hover,
.btn-secondary:focus {
  opacity: 0.8;
  color: var(--clr-black);
}

i {
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem;
}

/* -------------------NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
}

.nav-links {
  gap: 1rem;
  list-style: none;
  flex-direction: column;
  position: absolute;
  top: 12%;
  right: 10%;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  align-items: center;
}

.nav-links a {
  display: block;
  padding: 10px;
  text-align: center;
}

.nav-links.open {
  max-height: 300px;
}

.logo {
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 800;
  white-space: nowrap;
  max-height: 100%;
  position: relative;
  color: var(--clr-primary);
  opacity: 0.9;
}

.logo:after {
  position: absolute;
  content: "Emil Jädersten";
  color: var(--clr-secondary);
  left: 0;
  top: 0;
  z-index: -1;
  filter: blur(2px);
  opacity: 0.75;
  transition: all 300ms ease;
}

.logo:before {
  position: absolute;
  content: "Emil Jädersten";
  color: var(--clr-black);
  left: 0;
  top: 0;
  transition: all 300ms ease;
}

.logo:hover {
  color: var(--clr-primary);
}

.logo:hover::before {
  top: 20%;
  left: 2%;
}

.logo:hover::after {
  top: -20%;
  left: -2%;
}

.burger-menu {
  position: relative;
  display: inline-block;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 32px;
  cursor: pointer;
}

.burger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--clr-black);
  transition: all 300ms ease-in-out;
}

.burger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.burger-icon.open span:nth-child(2) {
  opacity: 0;
}
.burger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

/* ------------------------SECTIONS */

section {
  margin: 0 5% 2rem;
  box-sizing: border-box;
  height: fit-content;
  min-height: fit-content;
  position: relative;
}

.section-container {
  display: block;
  gap: 2rem;
  height: 80%;
}

/* --------------------HERO SECTION */

#hero {
  display: block;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

#profile-pic {
  width: 200px;
  height: 200px;
  margin: 0 auto 2rem;
  border-radius: 50%;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
  color: var(--clr-dark-grey);
}

.section__text__p1 {
  font-size: 1.75rem;
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.title::after {
  content: "";
  height: 40px;
  position: absolute;
  background-color: var(--clr-secondary);
  left: -10%;
  right: -10%;
  z-index: -1;
  border-radius: 12px;
  filter: blur(16px);
}

.socials {
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.btn-container {
  justify-content: center;
  gap: 1rem;
}

/* -------------------ABOUT SECTION */

#experience {
  margin-bottom: 3rem;
}

.details-wrapper {
  gap: 2rem;
  margin-top: 0;
  flex-wrap: wrap;
}

#about .details-wrapper {
  padding: 2rem 1.5rem;
}

.about-details {
  justify-content: center;
  flex-direction: column;
}

.text-container {
  padding: 0 3rem 1rem;
}

#up-arrow,
#down-arrow {
  display: none;
  position: fixed;
  right: 5%;
  bottom: 5%;
  background-color: var(--clr-black);
  border: 0.1rem solid var(--clr-grey);
  color: var(--clr-white);
  border-radius: 8px;
  opacity: 0.5;
  padding: 0.5rem;
}

#up-arrow {
  bottom: 16%;
}

#up-arrow:hover,
#up-arrow:focus,
#down-arrow:hover,
#down-arrow:focus {
  opacity: 0.75;
}

.details-container {
  padding: 0.5rem 1rem 2rem;
  flex: 1;
  border-radius: 2rem;
  border: 0.1rem solid var(--clr-dark-grey);
  text-align: center;
  background-color: var(--clr-light-grey);
}

/* ---------------EXPERIENCE SECTION */

#experience .details-wrapper {
  flex-direction: column;
  gap: 1rem;
  overflow-x: hidden;
}
.experience-subtitle {
  color: #444;
  font-weight: 600;
  font-size: 1.25rem;
  margin-left: 2.5rem;
  margin-bottom: -1.5rem;
  background-color: var(--clr-bg);
  z-index: 1;
  width: fit-content;
}

.experience-details {
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

#frontend-experience,
#backend-experience {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: 94%;
  margin: 0 auto;
  text-align: initial;
  gap: 1rem;
  max-height: 40%;
  overflow-x: auto;
}

.experience-block {
  padding: 1.5rem;
  font-size: 1rem;
  width: 30vw;
  border: 0.1rem solid var(--clr-dark-grey);
  border-radius: 12px;
  background-color: var(--clr-light-grey);
}

@media (prefers-reduced-motion: no-preference) {
  #frontend-experience,
  #backend-experience {
    overflow-x: hidden;
  }

  #frontend-experience > * {
    animation: sideScroll linear;
    animation-timeline: scroll(root);
    --scroll-begin: 0;
    --scroll-end: -1800%;
  }

  #backend-experience > * {
    animation: sideScroll linear;
    animation-timeline: scroll(root);
    --scroll-begin: -1500%;
    --scroll-end: 0;
  }

  @keyframes sideScroll {
    0% {
      transform: translateX(var(--scroll-begin));
    }
    30% {
      transform: translateX(var(--scroll-begin));
    }
    100% {
      transform: translateX(calc(var(--scroll-end)));
    }
    100% {
      transform: translateX(calc(var(--scroll-end)));
    }
  }
}

/* ----------------PROJECTS SECTION */

#projects {
  height: 96vh;
  overflow: hidden;
}

.carousel {
  position: relative;
  perspective: 100px;
  height: 80%;
  overflow-x: hidden;
  padding: 1rem 0;
}

.carousel__viewport {
  height: 100%;
  display: flex;
  list-style: none;
  overflow: hidden;
}

.carousel__slide {
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  list-style: none;
  transition: all 0.5s ease;
}

.project-container {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}

.project-img {
  margin: 0;
  max-height: 100%;
  position: relative;
  border-radius: 2rem;
}

.project-overlay {
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

.project-title {
  margin: 1rem;
  color: var(--clr-white);
  text-shadow: 0 0 10px var(--clr-black);
}

.project-btn {
  margin-bottom: 1rem;
}

.project-btn:hover,
.project-btn:focus,
.project-btn:active {
  text-decoration: none;
}

.carousel__viewport::-webkit-scrollbar {
  width: 0;
}

.carousel__viewport::-webkit-scrollbar-track {
  background: transparent;
}

.carousel__viewport::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.carousel__viewport {
  -ms-overflow-style: none;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 1rem;
  z-index: 1;
  border: 0.1rem solid var(--clr-grey);
  border-radius: 12px;
  backdrop-filter: blur(3px);
}

.prev {
  left: 10%;
}

.next {
  right: 10%;
}

/* CONTACT SECTION */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
  margin-top: 2rem;
}

.contact-upper-container {
  justify-content: center;
  border-radius: 2rem;
  border: 0.1rem solid var(--clr-dark-grey);
  background-color: var(--clr-white);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0;
}

.contact-info-container a {
  white-space: nowrap;
  padding: 0.5rem;
  display: block;
}

.contact-icon {
  vertical-align: middle;
  padding: 0.5rem;
}

/* --------------------------FOOTER */

footer {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.footer-links {
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  margin-bottom: 2rem;
  justify-content: center;
  font-size: 1.5rem;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

footer > p {
  text-align: center;
}

/* -------------------UTILITY CLASSES */

.container {
  display: flex;
}

/* -------------------MEDIA QUERIES */

@media screen and (min-width: 687px) {
  .btn {
    padding: 1rem;
    width: 8rem;
    font-size: 1rem;
  }

  section {
    /* height: 96vh; */
  }

  #profile-pic {
    width: 400px;
    height: 400px;
  }

  #contact {
    height: 70vh;
  }
  footer {
    height: auto;
  }

  .contact-upper-container,
  .btn-container {
    flex-wrap: nowrap;
  }

  .contact-info-container {
    margin: 1rem;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: larger;
  }

  .experience-subtitle {
    font-size: 1.75rem;
  }

  .logo {
    font-size: 2rem;
  }

  .footer-links {
    flex-wrap: nowrap;
    gap: 1rem;
  }

  .text-container {
    text-align: center;
  }

  .experience-block {
    width: 20vw;
  }

  #frontend-experience > * {
    --scroll-begin: 0;
    --scroll-end: -1200%;
  }

  #backend-experience > * {
    --scroll-begin: -900%;
    --scroll-end: 0;
  }
  .experience-block {
    width: 10vw;
  }

  .carousel {
    padding: 2rem;
  }

  .project-img {
    max-width: 100%;
    aspect-ratio: 16/9;
  }
}

@media screen and (min-width: 992px) {
  section {
    margin: 0 10%;
  }

  .burger-icon {
    display: none;
  }

  .nav-links {
    position: relative;
    display: flex;
    font-size: 1.5rem;
    flex-direction: row;
    max-height: 100%;
    align-items: center;
    right: 0;
  }

  .details-container {
    padding: 1.5rem;
  }

}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 3rem;
  }

  #hero,
  .section-container {
    display: flex;
  }

  #about .section-container {
    flex-direction: column;
  }

  section,
  .section-container {
    height: 83vh;
  }

  #profile-pic {
    margin: auto 2rem;
  }

  .project-container {
    flex-shrink: 1;
  }

  #frontend-experience > * {
    --scroll-begin: 0;
    --scroll-end: -900%;
  }

  #backend-experience > * {
    --scroll-begin: -900%;
    --scroll-end: 0;
  }
}

@media screen and (min-width: 1400px) {
  #hero {
    height: 96vh;
    margin-bottom: 1rem;
  }
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__slide {
    animation: none;
  }
}
